*{
  border:2px solid gold;
}
body{
  text-align: center;
}
/* ========================================================
<<<<<<<<<<<<<<<<<<<<HEADER>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
======================================================== */
header > h1,p {
  width: 80%;
  margin: 5px auto;
  padding: 10px;
}
p {
  background: black;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
}
/* ========================================================
<<<<<<<<<<<<<<<<<<<<CAROUSEL>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
======================================================== */
#carousel_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 150px;
  margin: auto;
}
#carousel_divs {
  height: 150px;
  width: 150px;
}
.carousel_card, .player_card, .weapon_card {
  height: 150px;
  width: 150px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5%;

}
.carousel_card {
  display: none;
}
.button{
  margin: auto;
}
/* ========================================================
<<<<<<<<<<<<<<<<<<<<UPPER CONTAINER>>>>>>>>>>>>>>>>>>>>>>>>>
======================================================== */
#upper_container, #lower_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 200px;
  margin: auto;
}
.player_card, .weapon_card {
  background: gray;
}
/* ========================================================
<<<<<<<<<<<<<<<<<<<<LOWER CONTAINER>>>>>>>>>>>>>>>>>>>>>>>>>
======================================================== */

/* ========================================================
<<<<<<<<<<<<<<<<<<<<GAME>>>>>>>>>>>>>>>>>>>>>>>>>
======================================================== */
#game > h3 {
  margin: 5px auto;
  width: 40%
}
#play_game {
  height: 200px;
  width: 70%;
  margin: auto;
}
#battle_stats, #hitpoint_report {
  height: 70px;
  width: 40%;
  margin: auto;
}
#winner {
  height: 100px;
  width: 40%;
  margin: auto;
}
/* ========================================================
<<<<<<<<<<<<<<<<<<<<FOOTER>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
======================================================== */
footer > h4 {
  margin: 5px auto;
  width: 40%
}
