
body{
  text-align: center;
  background: black;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  background-image: url('https://i.imgur.com/ieiDLHg.jpg');
  background-size: 100%;
}

/* ========================================================
<<<<<<<<<<<<<<<<<<<<HEADER>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
======================================================== */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header > h1,p {
  width: 80%;
  margin: 5px auto;
  /* found this transformation in css tricks */
  transform:perspective(1000px)rotateX(45deg);
  }
/* ========================================================
<<<<<<<<<<<<<<<<<<<<UPPER CONTAINER>>>>>>>>>>>>>>>>>>>>>>>>>
======================================================== */
#upper_container, #lower_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  height: 450px;
  margin: auto;
  background-image: url('https://i.imgur.com/WVTcxk5.jpg');
  background-size: 100%;
  border: 2px solid #36454f;
  box-shadow: 2px 2px #36454f;
}

#upper_top, #upper_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 40%;
  margin: 0 auto;
  flex-direction: row;
}
#upper_container > h2, #lower_container > h2 {
  width: 60%;
  margin: 10px auto;
  background-image: url('https://i.imgur.com/TUXkxqx.jpg');
  background-size: 10%;
  color: #36454f;
  text-shadow: 1px 1px 1px black;
  border: 1px solid #36454f;
  box-shadow: 2px 2px #36454f;
}
.player_card, .weapon_card, #carousel_divs {
  height: 125px;
  width: 125px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  background-image: url('https://i.imgur.com/ieiDLHg.jpg');
  background-size: 100%;

}
/* ========================================================
<<<<<<<<<<<<<<<<<<<<CAROUSEL>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
======================================================== */
#carousel_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 150px;
  margin: auto;
}
#carousel_divs {
  height: 125px;
  width: 125px;
}

.carousel_card {
  display: none;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 25%;
  width: 25%;
  background-image: url('https://i.imgur.com/TUXkxqx.jpg');
  background-size: 100%;
  color: #36454f;
  text-shadow: 1px 1px 1px black;
  border: 1px solid #36454f;
  box-shadow: 2px 2px #36454f;
}

/* ========================================================
<<<<<<<<<<<<<<<<<<<<LOWER CONTAINER>>>>>>>>>>>>>>>>>>>>>>>>>
======================================================== */
#lower_top, #lower_bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: 40%;
  margin: auto;
  flex-direction: row;
  margin: 0 auto;
}
#player1_form, #player2_form {
  background-image: url('https://i.imgur.com/TUXkxqx.jpg');
  background-size: 25%;
  color: #36454f;
  text-shadow: 1px 1px 1px black;
  border: 1px solid #36454f;
  box-shadow: 2px 2px #36454f;
}
/* ========================================================
<<<<<<<<<<<<<<<<<<<<GAME>>>>>>>>>>>>>>>>>>>>>>>>>
======================================================== */
#game {
  display: flex;
  height: 450px;
  flex-flow: column;
  justify-content: space-around;
  background-image: url('https://i.imgur.com/WVTcxk5.jpg');
  background-size: 100%;
  margin: auto;
  width: 90%;
  border: 2px solid #36454f;
  box-shadow: 2px 2px #36454f;
}
#game > h2 {
  margin: 0 auto;
  width: 40%;
  background-image: url('https://i.imgur.com/TUXkxqx.jpg');
  background-size: 20%;
  color: #36454f;
  text-shadow: 1px 1px 1px black;
  border: 1px solid #36454f;
  box-shadow: 2px 2px #36454f;
}
#play_game, #battle_stats, #hitpoint_report, #winner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
#play_game {
  height: 200px;
  width: 70%;
  flex-direction: column;
}
#battle_stats, #hitpoint_report {
  height: 70px;
  width: 60%;
  background-image: url('https://i.imgur.com/ieiDLHg.jpg');
  background-size: 100%;
}
#winner {
  flex-direction: column;
  height: 100px;
  width: 40%;
  background-image: url('https://i.imgur.com/ieiDLHg.jpg');
  background-size: 100%;
}
#attack, #restart {
  height: 25px;
  width: 75px;
}

/* ========================================================
<<<<<<<<<<<<<<<<<<<<FOOTER>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
======================================================== */
footer > h4 {
  margin: 5px auto;
  width: 40%
}
